.math {
    cursor: default;
    pointer-events: none;
}

#MathJax_Message {
    display: none;
    visibility: hidden;
}

#tab_functions .MJXc-display {
    margin: 0;  
} 

#tab_functions td:nth-of-type(2) .MJXc-display {
    text-align: left !important;
    padding-bottom: .5rem;
    
} 



#tab_functions > div {
    display: flex;
}

#tab_functions > div > div {
    max-width: 1300px;
    overflow-x: auto;
    margin: 0 auto;
    
}

#tab_functions table {
    border-collapse: separate;
    border-spacing: 0 0.1rem;
}

#tab_functions table tr:first-of-type th {
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}
#tab_functions table tr:first-of-type th:first-of-type{
    border-top-left-radius: 0.3rem;   
    border-bottom-left-radius: 0.3rem; 
    border-left: 1px solid #444;  
}
#tab_functions table tr:first-of-type th:nth-of-type(2) {
    text-align: left;
}
#tab_functions table tr:first-of-type th:last-of-type{
    border-top-right-radius: 0.3rem;   
    border-bottom-right-radius: 0.3rem;   
    border-right: 1px solid #444;
}

#tab_functions table tr:nth-of-type(2) td {
    border-top: 1px solid #444;
}
#tab_functions table tr:nth-of-type(2) td:first-of-type{
    border-top-left-radius: 0.3rem;   
}
#tab_functions table tr:nth-of-type(2) td:last-of-type{
    border-top-right-radius: 0.3rem;   
}


#tab_functions table tr:last-of-type td{
    border-bottom: 1px solid #444;    
}
#tab_functions table tr:last-of-type td:first-of-type{
    border-bottom-left-radius: 0.3rem;   
}
#tab_functions table tr:last-of-type td:last-of-type{
    border-bottom-right-radius: 0.3rem;   
}

#tab_functions table td, #tab_functions table th {
    vertical-align: top;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    padding: .5rem;
}

#tab_functions table td:first-of-type{
    border-left: 1px solid #444;    
    text-align: right;
}
#tab_functions table td:nth-of-type(2) {
    padding-bottom: 0;
}
#tab_functions table td:last-of-type {
    padding-bottom: 0;
    vertical-align: middle;
    border-right: 1px solid #444;
}



#ffEditor {
    width: 100%;
}

#ffEditor button {
    float: right;
}

#ffEditor td:first-of-type {
    width: 2rem;
}

#ffEditor td:last-of-type {    
    width: 10%;
    min-width: 6rem;
    max-width: 10rem;
    text-align: center;
    padding: .2rem 1rem;
    color: darkred;
    cursor: pointer;
} 

#ff_editor_in {
    width: 100%;
    border: 1px solid grey;
    min-height: 2rem;
    text-align: center;
    margin-bottom: .5rem;
}

.ff_editor_out {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid grey;
    min-height: 4rem;
    display: table;
    padding: 0.5rem;
    margin-bottom: .5rem;
    background-color: #ddd;
}

.ff_editor_out > span {
    display: table-cell;
    vertical-align: middle;
}

#ff_editor_out2 {
    display: none;
}