#tab_mov {
    text-align: center;
}

#tab_mov img {
    max-height: 5rem;
    margin-top: 2rem;
    cursor: pointer;    
}

#tab_mov h2 {
    margin-bottom: 3rem;
}

#tab_mov button {
    display: block;
    margin: 2rem auto;
    
    
    font-size: 1.2rem;    
    font-family: "Tw Cen MT", sans-serif;
    background-color: inherit;
    border: 1px solid #aaa;
    border-radius: 0.3rem;
    outline: none;
    cursor: pointer;    
    padding: 0.5rem 2rem;
    transition: 0.3s;
    min-width: 16.6667%;
}

#tab_mov button:hover {
    background-color: #888;
}