#tab_solver h2 {
    text-align: center;
}



/* TAB_SOLVER list */

#tab_solver > div {
    width: 100%;
}

#tab_solver > div > table {
    width: 100%;
    border-collapse: collapse;
}

#tab_solver > div > table > tbody > tr {    
    display: flex;
    align-items: stretch;
}

#tab_solver > div > table > tbody > tr > td {
    display: inline-block;
    vertical-align: top;
    padding: 0;
}

#tab_solver > div > table > tbody > tr > td:first-of-type {
    width: 15rem;
    margin-right: 0.5rem;
}

#tab_solver > div > table > tbody > tr > td:last-of-type {
    flex: 1;
    display:inline-block;
    border: 1px solid #ccc;
    border-radius: 0.3rem;    
    width: 100%;
}

#tab_solver #solver_list button {
    background-color: #eee;
    opacity: 80%;
    display: block;
    font-size: 1rem;    
    font-family: "Tw Cen MT", sans-serif;
    color: black;
    padding: 0.5rem 1rem;
    width: 100%;
    border: 1px solid #aaa;
    border-bottom: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

#tab_solver #solver_list button:first-of-type {
    border-top-left-radius: 0.3rem;    
    border-top-right-radius: 0.3rem;    
}

#tab_solver #solver_list button:last-of-type {
    border-bottom-left-radius: 0.3rem;    
    border-bottom-right-radius: 0.3rem;    
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5rem;
}

#tab_solver #solver_list button.initialized{
    background-color: #eee;    
}

#tab_solver #solver_list button.deleted {
    text-decoration: line-through;
    cursor: not-allowed;
    opacity: 60%;
}

#tab_solver #solver_list button.running{
    background-image: linear-gradient(to right, green 0%, green 71%, #eee 71%, #eee 100%);
}

#tab_solver #solver_list button.configured {
    background-color: yellow;
}

#tab_solver #solver_list button.finished {
    background-color: green;
}

#tab_solver #solver_list button.error {
    background-color: red;
}

#tab_solver button.active {
    opacity: 100% !important;
    font-weight: bold;
    cursor: default !important;
}


#solver_add {
    background-color: #f1f1f1;
    font-size: 1rem;  
    font-family: "Tw Cen MT", sans-serif;  
    font-style: italic;
    color: black;
    padding: 0.4rem 1rem;
    border: 1px solid #aaa;
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;    
    text-align: left;
    cursor: pointer;
    opacity: 80%;
    transition: 0.3s;
    display: block;
}

#solver_add:hover {
    background-color: #ddd;
}

#solver_add.active:hover {
    background-color: #f1f1f1;
}

#solver_add.active {
    opacity: 100% !important;
    font-weight: bold;    
    cursor: default !important;
}





/* content wrapper */

#tab_solver .solver_content {
    width: auto;
    margin: .5rem;
    display: none;
    padding: 1rem 1.5rem;
}

#tab_solver .solver_content button, #tab_solver .solver_content input, #tab_solver .solver_content select {
    font-family: "Tw Cen MT", sans-serif;  
    font-size: 1rem;  
}

#tab_solver .solver_content button {
    cursor: pointer;
    margin-left: 0.2rem;
}

#tab_solver div.active {
    display: block;
}

#tab_solver .solver_content h3 {
    margin: 0;
    font-size: 1.4rem;
}

#tab_solver .solver_content h4 {
    margin: 0;
    font-size: 1.1rem;
}

#tab_solver .solver_content > div {
    margin-top: 1rem;
    border-top: 1px solid #ccc;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#tab_solver .solver_content .indent {
    margin-left: 1rem;
}





#tab_solver .solver_content_t1 td {
    padding-bottom: 0.1rem;
}

#tab_solver .solver_content_t1 td:first-of-type {
    min-width: 5rem;
}

#tab_solver .solver_content_t1 td:nth-of-type(2) {
    padding-left: 1rem;
    min-width: 7rem;
    color: #777;
    font-size: 1.1rem;
}

#tab_solver .solver_content_t1 td:last-of-type {
    width: 100%;
    text-align: right;
}





#tab_solver .solver_content_t2 {
    margin-bottom: 1rem;
}

#tab_solver .solver_content_t2 td {
    padding-bottom: 0.1rem;
    vertical-align: top;
}

#tab_solver .solver_content_t2 td:first-of-type {
    min-width: 5rem;
}

#tab_solver .solver_content_t2 input {
    width: 3rem;
}

#tab_solver .solver_content_t2 td:last-of-type {
    width: 100%;
    text-align: right;
}





#tab_solver .solver_content_t3 {
    margin-bottom: 1rem;
    margin-left: 1rem;
    border-collapse: collapse;
    width: 90%;
    max-width: 1000px;
}

#tab_solver .solver_content_t3 tr{    
    display: flex;
    align-items: stretch;
}

#tab_solver .solver_content_t3 td, #tab_solver .solver_content_t3 th {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid #bbb;   
    border-right: 1px solid #bbb;  
}

#tab_solver .solver_content_t3 th { 
    border-bottom: 1px solid #444;  
    border-top: 1px solid #444; 
    padding: .4rem 1rem; 
}

#tab_solver .solver_content_t3 td:first-of-type, #tab_solver .solver_content_t3 th:first-of-type {
    border-left: 1px solid #444;  
    width: 40%;
    padding: .4rem 1rem;
    text-align: right;
}

#tab_solver .solver_content_t3 td:nth-of-type(2), #tab_solver .solver_content_t3 th:nth-of-type(2) {
    flex: 1;
    display:inline-block;
    width: 100%;
}

#tab_solver .solver_content_t3 td:last-of-type, #tab_solver .solver_content_t3 th:last-of-type {
    border-right: 1px solid #444;  
    width: 10%;
    min-width: 6rem;
    max-width: 10rem;
    text-align: center;
    padding: .4rem 1rem;
    color: darkred;
    cursor: pointer;
}

#tab_solver .solver_content_t3 tr:last-of-type td, #tab_solver .solver_content_t3 tr:last-of-type th{
    border-bottom: 1px solid #444;      
}

#tab_solver .solver_content_t3 tr:first-of-type th:first-of-type, #tab_solver .solver_content_t3 tr:nth-of-type(2) td:first-of-type {
    border-top-left-radius: .3rem;
}

#tab_solver .solver_content_t3 tr:first-of-type th:last-of-type, #tab_solver .solver_content_t3 tr:nth-of-type(2) td:last-of-type {
    border-top-right-radius: .3rem;
}

#tab_solver .solver_content_t3 tr:nth-of-type(2) td{
    margin-top: 0.1rem;
    border-top: 1px solid #444;  
} 

#tab_solver .solver_content_t3 tr:last-of-type td:first-of-type, #tab_solver .solver_content_t3 th:first-of-type{
    border-bottom-left-radius: .3rem;
}

#tab_solver .solver_content_t3 tr:last-of-type td:last-of-type, #tab_solver .solver_content_t3 th:last-of-type{
    border-bottom-right-radius: .3rem;
}


#tab_solver .solver_content_t3 td:nth-of-type(2) input {
    font-family: "Tw Cen MT", sans-serif;
    font-size: 1rem;
    border: none;
    outline: none;
    width: 100%;
    padding: .4rem 1rem;
}

#tab_solver .solver_content_t3 td:nth-of-type(2) input:focus {
    /*background-color: #ccc;
    box-shadow: inset 0 0 3px 3px #fff;*/
    border: none;
    outline: none;
}


#tab_solver .cfglocked input{
    pointer-events: none;
}




#tab_solver .solver_content_t4 {
    margin-top: 1rem;
    margin-left: 1rem;
}

#tab_solver .solver_content_t4 td {
    padding-bottom: 0.5rem;
}

#tab_solver .solver_content_t4 td:first-of-type {
    padding-right: 1rem;
}

#tab_solver .solver_compareBtn {
    margin-top: 1rem;
}





/*#bbb #444*/



/* solver compare */

#tab_solver #solver_compare{
    width: 100%;
    padding-bottom: 3rem;
}

#tab_solver #solver_compare > table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

#tab_solver #solver_compare > table tr{    
    display: flex;
    align-items: stretch;
}

#tab_solver #solver_compare > table td, #tab_solver #solver_compare > table th {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    vertical-align: center;
    text-align: left;
}

#tab_solver #solver_compare > table th { 
    padding: .4rem 1rem; 
    text-align: right;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    border-top: 1px solid #bbb;
    min-width: 8rem;
    margin-right: .1rem;
}

#tab_solver #solver_compare > table tr:first-of-type > th:first-of-type { 
    border: 1px solid #444;
    border-radius: .3rem;
    margin-bottom: .1rem;
}

#tab_solver #solver_compare > table tr:nth-of-type(2) > th:first-of-type { 
    border-top: 1px solid #444;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

#tab_solver #solver_compare > table tr:last-of-type > th:first-of-type { 
    border-bottom: 1px solid #444;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
}


#tab_solver #solver_compare > table td {
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    width: 100%;
    padding: .4rem 1rem; 
}

#tab_solver #solver_compare > table tr:first-of-type td {
    font-weight: bold;
}

#tab_solver #solver_compare > table tr:first-of-type td span {
    cursor: pointer;
    color: darkred;
}

#tab_solver #solver_compare > table tr:first-of-type > td:first-of-type { 
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

#tab_solver #solver_compare > table tr:first-of-type > td:last-of-type { 
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

#tab_solver #solver_compare > table tr > td:last-of-type { 
    border-right: 1px solid #444;
}

#tab_solver #solver_compare > table tr > td:first-of-type { 
    border-left: 1px solid #444;
}

#tab_solver #solver_compare > table tr:last-of-type > td{ 
    border-bottom: 1px solid #444;
}

#tab_solver #solver_compare > table tr:last-of-type > td:first-of-type{ 
    border-bottom-left-radius: 0.3rem;
}

#tab_solver #solver_compare > table tr:last-of-type > td:last-of-type{ 
    border-bottom-right-radius: 0.3rem;
}

#tab_solver #solver_compare > table tr:first-of-type > td{ 
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    margin-bottom: .1rem;
}

#tab_solver #solver_compare > table tr:nth-of-type(2) > td{ 
    border-top: 1px solid #444;
}

#tab_solver #solver_compare > table tr:nth-of-type(2) > td:first-of-type{ 
    border-top-left-radius: .3rem;
}

#tab_solver #solver_compare > table tr:nth-of-type(2) > td:last-of-type{ 
    border-top-right-radius: .3rem;
}






