/* GLOBAL */

body{
    margin: 0;
    
    font-family: "Tw Cen MT", sans-serif;
    
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; 
    
    word-wrap: break-word;
    
    min-width: 750px;
}

.tbi {
   /* color: red;
    border: 1px solid red;*/
}








/* INFO BANNER */

#info {
    position: fixed;
    top: 0;
    width: 100%;    
    min-width: 700px;
    box-shadow: 0 0 0.5rem 0.2rem grey;
    text-align: center;  
    font-size: 1.1rem;
    font-weight: bolder;
    clear: both;
}

@keyframes fadeInfoIn {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1; 
        transform: translateY(0%);
    }
}

@keyframes fadeInfoOut {
    from {
        opacity: 1;
        transform: translateY(0%);
    }
    to {
        opacity: 0; 
        transform: translateY(-100%);
    }
}

.suc {
    background-color: rgb(122,215,80);    
}

.warn {
    background-color: rgb(255,200,66);    
}

.err {
    background-color: rgb(190,0,0);   
}

#info_text {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

#info > div{
    float: right;
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

#info_close_x{
    padding-right: 1.5rem;
    padding-left: 1rem;
    font-size: 1rem;  
}

.grey {
    color: grey;    
}

.white {
    color: white;    
}








/* HEADER */

#header {
    padding: 1rem;
    text-align: center;
    
    background-color: #ddd;
}

#header h1 {
    color: rgb(100,0,0);
}

#header img {
    width: 40px;
    height: 40px;
}








/* TAB */

#tab {
    overflow: hidden;
    background-color: #ddd;
}

#tab button {
    font-size: 1.1rem;    
    font-family: "Tw Cen MT", sans-serif;
    background-color: inherit;
    float: left;
    border: 1px solid #aaa;
    border-bottom: none;
    border-radius: 0.3rem 0.3rem 0 0;
    outline: none;
    cursor: pointer;    
    padding: 0.5rem 2rem;
    transition: 0.3s;
    min-width: 20%;
}

#tab button:hover {
    background-color: #888;
}

#tab button.active:hover {
    background-color: white;
    cursor: default;   
}

#tab button.active {
    color: rgb(100,0,0);
    background-color: white;
    font-weight: bold;
    border-bottom: none;
}

.tabcontent {
    display: none;
    padding: 1rem;
    background-color: white;
    animation: fadetab 0.3s;
}

@keyframes fadetab {
    from {opacity: 0;}
    to {opacity: 1;}
}








/* TAB_CMD */

#tab_cmd > div{
    
}

#tab_cmd > div > h2 {
    margin: 0;
    float: left;
    padding-top: 0.8rem;
}

#cmd_file {
    display: none;
}

.cmd_editor_buttons {
    border: 1px solid black;
    border-radius: 0.3rem;
    display: inline-block;
    padding: 0.3rem 0.7rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
    min-width: 1rem;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    float: right;
}

.cmd_editor_buttons:hover{
    background-color: #ddd;
}




#cmd_input {
    border-radius: 0.3rem;
    max-width: 100%;
    min-width: 100%;
    height: 50%;
}

.ondragover {
    color: rgb(142,160,178);
    border: 2px solid rgb(102,178,255);
    background-color: rgb(204,229,255);
}

.onsave {
    color: rgb(142,178,146);
    border: 2px solid rgb(102,255,161);
    background-color: rgb(204,255,209);
}

.onclear {
    color: rgb(178,142,142);
    border: 2px solid rgb(255,74,74);
    background-color: rgb(255,150,150);
}

.ondragleave {
    color: black;
    border: 1px solid black;
    background-color: white;
}


#cmd_send {
    padding: 0.5rem 1rem;
    background-color: rgb(122,215,80);
}

#cmd_send:hover {
    background-color: rgb(85,160,50);
}








/* TAB_SETTINGS */

#settings_credentials {
    text-align: center;
    width: 50%;    
    border: 1px solid grey;
    margin: 0 auto;
}

#settings_credentials table {
    width: 100%;
}

#settings_credentials td {
    width: 50%;
    padding: 0.4rem 0.7rem;
}

#settings_credentials tr > td:first-of-type {
    text-align: right;
}











