/* Global */
body{
    padding: 0;
    font-family: "Tw Cen MT", sans-serif;
    
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; 
    
    word-wrap:break-word;
    
    background-color: #fff;
}













h1 {
    color: rgb(100,0,0);
}

#img_logo {
    width: 30px;
    padding-right: 20px;
}



#cmd_input {
    width: 360px;
    height: 600px;
}